dist
node_modules
/public/
public
/public/static/js

src/icons
src/assets/images
src/assets/img

package.json
package-lock.json

yarn.lock

.npmrc

.prettierignore
.prettierrc.js
.eslintrc.js
.eslintignore

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
